// Color
$togglerMenu: #faff00;

// homepage
@media screen and (max-width: 1200px) {
  nav {
    .navbar-brand {
      font-size: 25px;
      b {
        font-size: 28px;
        font-weight: 700;
      }
    }
    .navbar-nav {
      .nav-item {
        margin-left: 15px;
        text-align: center;
        font-size: 20px !important;
      }
    }
  }
  .aboutInfo {
    .side2 {
      .myImage {
        width: 100%;
      }
    }
    .side1 {
      .title {
        font-size: 60px;
      }
      .description {
        font-size: 19px;
      }
      .buttons {
        .linkBtn {
          padding: 17px 40px;
          font-size: 18px;
        }
      }
      .socialNet {
        a {
          .svgIcon {
            font-size: 35px;
          }
        }
      }
    }
  }
  .titles {
    margin-top: 50px;
    .title1 {
      font-size: 40px;
    }
    .title2 {
      font-size: 28px;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0px;
      .projectCard {
        display: flex;
        margin: 40px 0;
        .projectImage {
          width: 50%;
        }
        .projectInfo {
          margin: 30px;
          .projectAbout {
            .projectName {
              font-size: 35px;
              font-weight: 700;
            }
            .projectDesc {
              font-size: 20px;
            }
          }
        }
        .projectButtons {
          .buttons {
            padding: 17px 30px;
            font-size: 18px;
            svg {
              margin: 0 10px 0;
            }
            &:nth-child(2) {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  // about
  .row {
    .col-md-12 {
      margin-top: 20px;
      .aboutCard {
        .aboutImage {
          width: 40%;
        }
        .aboutInfo {
          margin: 20px;
          margin-right: 0;
          padding: 20px;
          .about {
            .aboutBold {
              font-size: 35px;
            }
            .aboutText1 {
              font-size: 20px;
            }
          }
          .aboutTech {
            .techInfo {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  nav {
    .navbar-brand {
      font-size: 18px !important;
      b {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .navbar-nav {
      .nav-item {
        margin-left: 15px;
        text-align: center;
        font-size: 17px !important;
      }
    }
  }
  .aboutInfo {
    .side2 {
      .myImage {
        width: 100%;
      }
    }
    .side1 {
      width: 80%;
      .title {
        font-size: 40px;
      }
      .description {
        font-size: 17px;
        width: 90%;
      }
      .buttons {
        .linkBtn {
          padding: 13px 35px;
          font-size: 18px;
        }
      }
      .socialNet {
        a {
          width: 100%;
          padding: 0 30px 0 10px;
        }
      }
    }
  }

  .titles {
    margin-top: 40px;
    .title1 {
      font-size: 35px;
    }
    .title2 {
      font-size: 25px;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0px;
      .projectCard {
        display: flex;
        margin: 40px 0;
        align-items: center;
        .projectImage {
          width: 50%;
        }
        .projectInfo {
          margin: 10px 20px;
          .projectAbout {
            .projectName {
              font-size: 27px;
            }
            .projectDesc {
              margin: 10px 0 50px;
              font-size: 16px;
            }
          }
        }
        .projectButtons {
          .buttons {
            padding: 14px 20px;
            font-size: 18px;
            svg {
              margin: 0 10px 0;
            }
            &:nth-child(2) {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  // about
  .row {
    .col-md-12 {
      margin-top: 20px;
      .aboutCard {
        .aboutImage {
          width: 30%;
        }
        .aboutInfo {
          margin: 20px;
          margin-right: 0;
          padding: 0;
          .about {
            .aboutBold {
              font-size: 32px;
            }
            .aboutText1 {
              font-size: 18px;
            }
          }
          .aboutTech {
            .techInfo {
              font-size: 16px;
              img {
                width: 60px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  nav {
    padding: 18px !important;
    .navbar-brand {
      font-size: 22px !important;
      padding: 0 10px;
      b {
        font-size: 25px;
        font-weight: 700;
      }
    }
    .navbar-toggler {
      background: $togglerMenu;
      border-radius: 0;
      span {
        font-size: 15px;
      }
    }
    .navbar-nav {
      .nav-item {
        margin: 20px 0 !important;
        text-align: center;
        font-size: 20px !important;
      }
    }
  }
  .aboutInfo {
    display: inline-block;
    padding: 0;
    .side2 {
      text-align: center;
      margin-top: 35px;
      .myImage {
        width: 40%;
      }
    }
    .side1 {
      text-align: center;
      width: 100%;
      .title {
        font-size: 27px;
      }
      .description {
        font-size: 15px;
        width: 100%;
        padding: 0 70px;
      }
      .buttons {
        .linkBtn {
          padding: 15px 30px;
          font-size: 15px;
        }
      }
      .socialNet {
        a {
          width: 100%;
          padding: 0 10px 0 10px;
        }
      }
    }
  }
  .titles {
    margin-top: 50px;
    .title1 {
      font-size: 33px;
    }
    .title2 {
      font-size: 22px;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0px;
      .projectCard {
        display: inline-block;
        margin-bottom: 15px;
        padding: 0 10px;
        .projectImage {
          width: 100%;
        }
        .projectInfo {
          margin: 15px 0;
          .projectAbout {
            .projectName {
              font-weight: bold;
              font-size: 25px !important;
            }
            .projectDesc {
              font-size: 16px;
              margin: 10px 0 30px;
            }
          }
        }
        .projectButtons {
          .buttons {
            font-size: 17px;
            padding: 12px 22px;
            &:nth-child(2) {
              margin-left: 18px;
            }
          }
        }
      }
    }
  }
  .row {
    .col-md-12 {
      margin-top: 20px;
      .aboutCard {
        display: inline-block;
        text-align: center;
        .aboutImage {
          width: 50%;
          margin-bottom: 30px;
        }
        .aboutInfo {
          margin: 20px;
          .about {
            width: 100%;
            .aboutBold {
              font-size: 30px;
            }
            .aboutText1 {
              font-size: 16px;
            }
          }
          .aboutTech {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .techInfo {
              font-size: 16px;
              img {
                width: 60px !important;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 13px 0 0;
    p {
      font-size: 16px;
    }
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  // home
  nav {
    padding: 12px !important;
    .navbar-brand {
      font-size: 18px !important;
      padding: 0 10px;
      b {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .navbar-toggler {
      background: $togglerMenu;
      border-radius: 0;
      span {
        font-size: 15px;
      }
    }
    .navbar-nav {
      .nav-item {
        margin: 20px 0 !important;
        text-align: center;
        font-size: 17px !important;
      }
    }
  }
  .aboutInfo {
    display: inline;
    padding: 0;
    .side2 {
      text-align: center;
      margin-top: 35px;
      .myImage {
        width: 50%;
      }
    }
    .side1 {
      text-align: center;
      width: 100%;
      .title {
        font-size: 27px;
      }
      .description {
        font-size: 15px;
        width: 100%;
        padding: 0 15px;
      }
      .buttons {
        .linkBtn {
          padding: 10px;
          font-size: 15px;
        }
      }
      .socialNet {
        a {
          width: 100%;
          padding: 0 10px 0 10px;
        }
      }
    }
  }
  // portfolio
  .titles {
    margin-top: 50px;
    .title1 {
      font-size: 30px;
    }
    .title2 {
      font-size: 20px;
      padding: 0 10px;
    }
  }
  .row {
    .col-md-12 {
      padding-top: 0px;
      .projectCard {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 10px;
        .projectImage {
          width: 100%;
        }
        .projectInfo {
          margin: 15px 0;
          .projectAbout {
            .projectName {
              font-weight: bold;
              font-size: 21px !important;
            }
            .projectDesc {
              font-size: 15px;
              margin: 10px 0 30px;
            }
          }
        }
        .projectButtons {
          .buttons {
            font-size: 15px;
            padding: 10px;
            &:nth-child(2) {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  // about
  .row {
    .col-md-12 {
      margin-top: 20px;
      .aboutCard {
        display: inline-block;
        text-align: center;
        .aboutImage {
          width: 60%;
          margin-bottom: 30px;
        }
        .aboutInfo {
          text-align: left;
          margin: 20px;
          .about {
            width: 100%;
            .aboutBold {
              font-size: 30px;
            }
            .aboutText1 {
              font-size: 16px;
            }
          }
          .aboutTech {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .techInfo {
              font-size: 16px;
              img {
                width: 50px !important;
              }
            }
          }
        }
      }
    }
  }
  // footer
  .footer {
    padding: 10px 0 0;
    p {
      font-size: 14px;
    }
  }
}
